body{
    background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-amber-orange-solid-color-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

